{{ define "main" }}

<div class="mt-3">
    <div class="container">
        {{ range .Page.Pages.ByDate }}
        <div class="row mb-3">
            <div class="col-12 col-lg-3">
                <div class="timebox">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                {{ $hour := .File.ContentBaseName }}
                {{ range .Site.Pages.ByDate }}
                    {{ if eq $hour .Params.agenda }}
                        {{ partial "session-small" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}