{{ define "main" }}

{{ $hour := .File.ContentBaseName }}

{{ $currentPage := .RelPermalink }}

<div class="offcanvas offcanvas-start" tabindex="-1" id="ocSectionMenu" aria-labelledby="ocSectionMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ocSectionMenuLabel">Agenda</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="sidebar">
            {{ range .Page.Parent.Pages.ByDate }}
            <li class="sidebar-item">
                <a href="{{ .RelPermalink }}" class="sidebar-link {{ if eq $currentPage .RelPermalink }} active{{end}}">{{ .LinkTitle }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>

<div class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-acd mb-2" data-bs-toggle="offcanvas" href="#ocSectionMenu" role="button" aria-controls="ocSectionMenu">
                    <i class="bi bi-layout-sidebar"></i> Agenda
                </a>
            </div>
        </div>
    </div>
</div>

<div class="mt-3">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <h1>{{ .Title }}</h2>
                {{ .Content }}
            </div>
        </div>
    </div>
</div>

<div class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
            {{ range .Site.Pages.ByDate }}
                {{ if eq $hour .Params.agenda }}
                    {{ partial "session" . }}
                {{ end }}
            {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}