{{ define "main" }}

<div class="">
    <div class="mt-3">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                {{ if .Content }}
                <div class="col-12 col-lg-6 mt-lg-0 mt-5 p-5" style="background-color: #314256;">
                    <h3>Bio</h3>
                    {{ .Content }}
                </div>
                {{ end }}
                <div class="col-12 col-lg-6 mt-lg-0 mt-3">
                    <h3>Bio</h3>
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}{{/* end of main */}}