{{ define "main" }}

<div class="">
    <div class="mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 text-center">
                    <a href="{{ .Params.website }}" target="_blank">
                        <img src="img/logo.png" style="width: 200px;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Sessions</h2>
                </div>
                {{ $sponsor := .File.ContentBaseName }}
                {{ range .Site.Pages.ByDate }}
                    {{ if in .Params.sponsors $sponsor }}
                        {{ partial "session" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}{{/* end of main */}}