{{ $current := . }}
{{ $active := "" }}
<nav class="navbar navbar-expand-lg shadow-sm sticky-top navbar-dark" style="background-color: #232f3e;">
    <div class="container">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ partial "logo" . }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="mainNavbar" aria-labelledby="mainNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="mainNavbarLabel">{{ site.Title }}</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav flex-grow-1 pe-3">
            {{- range site.Menus.main }}
              {{ if .HasChildren }}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ .Name }}
                  </a>
                  <ul class="dropdown-menu">
          
                    {{ range .Children }}
                    {{ if hasPrefix $current.RelPermalink .URL }}
                    {{ $active = " active" }}
                    {{ else }}
                    {{ $active = "" }}
                    {{ end }}
                      <li><a class="dropdown-item{{$active}}" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }} 
                  </ul>
                </li>
              {{ else }}
              {{ if hasPrefix $current.RelPermalink .URL }}
              {{ $active = " active" }}
              {{ else }}
              {{ $active = "" }}
              {{ end }}
              <li class="nav-item">
                <a class="nav-link{{$active}}" href="{{ .URL }}">{{ .Name }}</a>
              </li>
              {{- end }}
            {{- end }}
          </ul>
        </div>
      </div>
    </div>
  </nav>