
{{ $room := .Site.GetPage (printf "/%s/%s" "rooms" .Params.room ) }}
{{ $timeFormat := .Site.Params.timeFormat | default "15:04" }}

<div class="row align-items-center justify-content-center mb-2">
    <div class="col-12 col-lg-8 mb-1">
        <div class="sessionid">{{ .File.ContentBaseName | upper }}</div>
        <div class="h3"><a href="{{ .RelPermalink }}" class="no-underline">{{ .Title }}</a></div>
        <div class="h6">
            Room: <a href="{{ $room.RelPermalink }}" class="no-underline">{{ $room.Title }}</a> | 
            Time: <a href="{{ .Site.BaseURL }}agenda/{{ .Params.agenda }}/" class="no-underline">{{ .Date.Format $timeFormat }}</a>
            {{ with .Param "tracks" }}
            {{ $tracks := . | len }}
            | Track{{ if gt $tracks 1 }}s{{end}}: 
                {{ range $index, $tag :=  . }}{{- if $index }}, {{ end }}
                    {{ with $.Site.GetPage (printf "/%s/%s" "tracks" $tag) -}}
                        <a href="{{ .RelPermalink  }}" class="no-underline">{{ .Title }}</a>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
        <div><a href="{{ .RelPermalink }}" class="regular-text">{{ .Summary }}</a></div>
    </div>
    <div class="col-12 col-lg-4 position-relative">
    {{ with .Param "speakers" }}
        {{ range $index, $tag :=  . }}
            {{ with $.Site.GetPage (printf "/%s/%s" "speakers" $tag) -}}
                {{ partial "speaker" . }}
            {{ end }}
        {{ end }}
    {{ end }}
    </div>
</div>