{{ define "main" }}

<div class="">
    <div class="mt-3">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <h1>{{ .Title }}</h1>
                {{ .Content }}
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Sessions</h2>
                </div>
                {{ $track := .File.ContentBaseName }}
                {{ range .Site.Pages.ByDate }}
                    {{ if in .Params.tracks $track }}
                        {{ partial "session" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}{{/* end of main */}}